.env

.venv/

app/modules/auth/__pycache__/

app/core/__pycache__/

app/api/__pycache__/

app/api/v1/__pycache__/

app/modules/users/__pycache__/

app/modules/admin/__pycache__/

app/modules/vendors/__pycache__/

app/modules/reviews/__pycache__/

app/modules/payments/__pycache__/

app/modules/listings/__pycache__/

app/modules/bookings/__pycache__/

app/db/__pycache__/

app/api/v1/__pycache__/

app/api/__pycache__/

uv.lock

__pycache__/

service_account.json